1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a = 12
print(a)

12

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [8]:
nombre = 'Luciano'
print(nombre)

Luciano

5) Crear una variable que contenga un número complejo

In [11]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [14]:
true_string = 'True'
true_boolean =  True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [37]:
print(type(true_string))

print(type(true_boolean))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
suma = 10 + 0.5
print(suma)

10.5

11) Realizar una operación de suma de números complejos

In [20]:
n_complejo + 5 + 5j

(10+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [21]:
n_complejo + 10

(15+5j)

13) Realizar una operación de multiplicación

In [22]:
2 * 3

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [24]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [29]:
a = 27/4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [27]:
c = 27//4
print(c)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [28]:
b = 27%4
print(b)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [30]:
c * 4 + b

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
var1 = 'Buenos '
var2 = 'Aires'
print(var1 + var2)

Buenos Aires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [34]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')
Se utiliza punto en vez de coma por eso no se puede convertir de string a float

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [35]:
d = 1
d -= 1
print(d)

0

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

26) Realizar una operación válida entre valores de tipo entero y string

In [43]:
print(1+ 'a')

TypeError: unsupported operand type(s) for +: 'int' and 'str'